._container {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: content-box;
  padding: 0 20px;
}

._ibg {
  position: relative;
  z-index: -1;
}
._ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._section {
  position: relative;
  padding: 50px 0;
  min-height: calc(100vh - var(--header-desktop));
  scroll-margin-top: var(--header-desktop);
}
@media (max-width: 767px) {
  ._section {
    padding: 35px 0;
    min-height: calc(100vh - var(--header-mobile));
    scroll-margin-top: var(--header-mobile);
  }
}

._title {
  position: relative;
  margin: 0 auto 40px;
  padding: 0px 0px 15px 0px;
  display: inline-block;
  text-align: left;
  font-size: 60px;
  font-family: "Rubik Scribble";
  opacity: 0;
}
._title span {
  display: inline-block;
  transform: translate(40vw);
  font-size: 0px;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in, opacity 0.5s;
  opacity: 0;
}
._title span.init {
  transform: translate(0px);
  font-size: 60px;
  opacity: 1;
}
._title span.active {
  transition: none;
}
._title.small {
  font-size: 48px;
}
._title.small span.init {
  font-size: 48px;
}
._title.init {
  display: block;
  opacity: 1;
}
._title.active::after {
  left: 50%;
  visibility: visible;
  opacity: 1;
}
._title::after {
  content: "";
  position: absolute;
  left: 30vw;
  bottom: 0;
  display: inline-block;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background: var(--color);
  transition: left 0.5s cubic-bezier(0, 0, 0.29, 1.1), opacity 0.5s cubic-bezier(0.4, -0.03, 0.89, 0.6);
  visibility: hidden;
  opacity: 0;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}
.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--nav-background);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 767px) {
  .header__container {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
.header__menu {
  min-height: var(--header-desktop);
}
@media (max-width: 767px) {
  .header__menu {
    min-height: var(--header-mobile);
  }
}

.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item:not(:first-child) {
  margin: 0px 0px 0px 20px;
}
.menu__link {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--header-active-link);
  }
}
.menu__link.active {
  color: var(--header-active-link);
}
@media (max-width: 767px) {
  .menu__burger {
    position: relative;
    height: 18px;
    width: 30px;
    cursor: pointer;
  }
  .menu__burger span {
    position: absolute;
    top: calc(50% - 1px);
    height: 2px;
    width: 100%;
    background-color: var(--color);
    transition: all 0.3s;
  }
  .menu__burger span:first-child {
    top: 0;
  }
  .menu__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__burger.active span {
    transform: scale(0);
  }
  .menu__burger.active span:first-child {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__burger.active span:last-child {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu__body {
    position: fixed;
    z-index: -2;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background: var(--header-body);
    transition: 0.3s;
    opacity: 0.95;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__list {
    padding: 90px 10px 30px 10px;
    flex-direction: column;
    align-items: center;
  }
  .menu__item:not(:first-child) {
    margin: 20px 0px 0px 0px;
  }
  .menu__link {
    font-size: 26px;
  }
}

.theme-switch #theme-checkbox {
  display: none;
}
.theme-switch #theme-checkbox:checked + label {
  background-color: #000;
}
.theme-switch #theme-checkbox:checked + label .theme-switch__stars {
  top: 1.5px;
  left: 32px;
  transform: scale(0.3);
  background-color: yellow;
}
.theme-switch #theme-checkbox:checked + label .theme-switch__star {
  color: yellow;
}
.theme-switch #theme-checkbox:checked + label .theme-switch__moon {
  bottom: 4px;
}
.theme-switch #theme-checkbox:checked + label .theme-switch__moon::before {
  background-color: #000;
}
.theme-switch label {
  user-select: none;
  display: block;
  position: relative;
  width: 58px;
  height: 28px;
  background-color: #77b5fe;
  border-radius: 28px;
  transition: 0.3s ease background-color;
  overflow: hidden;
  cursor: pointer;
}
.theme-switch__stars {
  position: absolute;
  top: 6.5px;
  left: 6.5px;
  width: 15px;
  height: 15px;
  background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
  z-index: 1;
}
.theme-switch__star {
  top: 0;
  left: -3.5px;
  font-size: 27px;
  line-height: 14px;
  color: #fafd0f;
  transition: 0.3s ease color;
}
.theme-switch__star_1 {
  position: relative;
}
.theme-switch__star_2 {
  position: absolute;
  transform: rotateZ(36deg);
}
.theme-switch__moon {
  position: absolute;
  bottom: -26px;
  right: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}
.theme-switch__moon::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -8.5px;
  width: 20px;
  height: 20px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

body {
  color: var(--color);
  background: var(--background);
  --color: #000;
  --background: #E8E8E4;
  --nav-background: #F4F0BB;
  --header-body: #faf7cf;
  --header-active-link: #DA2C38;
  --header-desktop: 70px;
  --header-mobile: 50px;
}

body.dark-theme {
  --color: #fff;
  --background: #212f45;
  --nav-background: #272640;
  --header-body: #34324b;
  --header-active-link: #4effc4;
}

.wrapper {
  min-height: 100vh;
  line-height: 1.3;
  font-family: "Montserrat";
}