$containerWidth: 1200px;

._container {
    margin: 0 auto;
    max-width: $containerWidth;
    box-sizing: content-box;
    padding: 0 20px;
}

._ibg {
    position: relative;
    z-index: -1;
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

._section {
    position: relative;
    padding: 50px 0;
    min-height: calc(100vh - var(--header-desktop));
    scroll-margin-top: var(--header-desktop);
    @media (max-width: 767px) {
        padding: 35px 0;
        min-height: calc(100vh - var(--header-mobile));
        scroll-margin-top: var(--header-mobile);
    }
}

._title {
    position: relative;
    margin: 0 auto 40px;
    padding: 0px 0px 15px 0px;
    display: inline-block;
    text-align: left;
    font-size: 60px;
    font-family: "Rubik Scribble";
    opacity: 0;
    span {
        display: inline-block;
        transform: translate(40vw);
        font-size: 0px;
        transition: transform 0.5s ease-in-out, font-size 0.5s ease-in, opacity 0.5s;
        opacity: 0;
        &.init {
            transform: translate(0px);
            font-size: 60px;
            opacity: 1;
        }
        &.active {
            transition: none;
        }
    }
    &.small {
        font-size: 48px;
        span.init {
            font-size: 48px;
        }
    }
    &.init {
        display: block;
        opacity: 1;
    }
    &.active::after {
        left: 50%;
        visibility: visible;
        opacity: 1;
    }
    &::after {
        content: '';
        position: absolute;
        left: 30vw;
        bottom: 0;
        display: inline-block;
        transform: translateX(-50%);
        width: 80px;
        height: 3px;
        background: var(--color);
        transition: left 0.5s cubic-bezier(0, 0, 0.29, 1.1), opacity 0.5s cubic-bezier(0.4, -0.03, 0.89, 0.6);
        visibility: hidden;
        opacity: 0;
    }
}