.footer {
    position: relative;
    padding: 35px 0 20px;
    background: var(--nav-background);
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-top: 10vw solid var(--footer-top-background);
        border-left: 20vw solid transparent;
        border-right: 20vw solid transparent;
    }
    // .footer__content
    &__content {
        padding: 10vw 0px 0px 0px;
    }
    // .footer__section
    &__section {
        &:not(:last-child) {
            margin: 0px 0px 20px 0px;
        }
    }
    // .footer__title
    &__title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    // .footer__links
    &__links {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }
    // .footer__link
    &__link {
        background: #333;
        flex: 0 0 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        transition: background-color 0.3s;
        color: #fff;
        @media (any-hover: hover) {
            &:hover {
                background: var(--footer-icon-hover-background);
            }
        }
    }
    // .footer__copy
    &__copy {
        margin: 25px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 991px) {
        padding: 25px 0 20px;
        // .footer__section
        &__section {
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        // .footer__title
        &__title {
            font-size: 20px;
            margin: 0px 0px 8px 0px;
        }
        // .footer__link
        &__link {
            flex: 0 0 45px;
            height: 45px;
            font-size: 24px;
        }
        // .footer__copy
        &__copy {
            margin: 20px 0px 0px 0px;
        }
    }

    @media (max-width: 767px) {
        padding: 25px 0 20px;
        // .footer__title
        &__title {
            font-size: 18px;
        }
        // .footer__links
        &__links {
            column-gap: 15px;
        }
        // .footer__link
        &__link {
            flex: 0 0 45px;
            height: 45px;
            font-size: 24px;
        }
        // .footer__copy
        &__copy {
            margin: 15px 0px 0px 0px;
        }
    }
}