@use "_blocks";
@use "home";
@use "header";
@use "footer";

body {
    color: var(--color);
    background: var(--background);

    --color: #000;
    --background: #E8E8E4;

    --home-highlight-color: #ff5e6c;
    --home-background: #fff;
    --nav-background: #F4F0BB;
    --header-body: #faf7cf;
    --header-active-link: #DA2C38;
    --footer-top-background: #fff;
    --footer-icon-hover-background: #F6BD60;
    
    --header-desktop: 70px;
    --header-mobile: 50px;
}

body.dark-theme {
    --color: #fff;
    --background: #212f45;

    --home-background: #0f0f1e;
    --nav-background: #272640;
    --header-body: #34324b;
    --header-active-link: #4effc4;
    --footer-top-background: #144552;
    --footer-icon-hover-background: #4d194d;
}

.wrapper {
    min-height: 100vh;
    line-height: 1.3;
    font-family: "Montserrat";
}